<mat-toolbar color="primary">
  <mat-toolbar-row color="primary" class="d-flex justify-content-between">

    <a color="primary" routerLink="/">RecibosApp</a>

    <div class="text-center">
      <span class="d-block">{{ rxTime | date: 'd/M/Y hh:mm:ss a' }}</span>
      <span *ngIf="this.authService.isLogued()" class="d-block">Bienvenido
        {{ this.usuariosServicio.getUsuarioLocal().nick }}</span>
    </div>

    <div *ngIf="this.authService.isLogued()" class="button-container">
      <button mat-flat-button color="warn" aria-label="Logout button" (click)="this.logout()">
        SALIR <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
