<div class="container d-flex align-items-center justify-content-around dashboard-cards h-100">
  <form [formGroup]="this.formRegistroPersona">
    <mat-card class="custom_card cardStyle">
      <mat-card-header class="d-block text-center py-2">
        <mat-card-title>Registro de Persona</mat-card-title>
      </mat-card-header>

      <mat-card-content class="custom_card">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="nombre" required>
          <mat-error *ngIf="this.formRegistroPersona.get('nombre')?.hasError('required')">El campo es
            obligatorio
          </mat-error>
          <mat-error *ngIf="this.formRegistroPersona.get('nombre')?.hasError('pattern')">El campo no cumple el patrón
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Apellido</mat-label>
          <input type="text" matInput formControlName="apellido" required>
          <mat-error *ngIf="this.formRegistroPersona.get('apellido')?.hasError('required')">El campo es
            obligatorio</mat-error>
          <mat-error *ngIf="this.formRegistroPersona.get('apellido')?.hasError('pattern')">El campo no cumple el
            patrón
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo de documento</mat-label>
          <mat-select formControlName="tipoDoc" required>
            <mat-option value="1">DNI</mat-option>
            <mat-option value="2">LE</mat-option>
            <mat-option value="3">Pasaporte</mat-option>
          </mat-select>
          <mat-error *ngIf="this.formRegistroPersona.get('tipoDoc')?.hasError('required')">El campo es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Numero de documento</mat-label>
          <input type="text" matInput formControlName="n_doc" required>
          <mat-error
            *ngIf="this.formRegistroPersona.get('n_doc')?.errors && this.formRegistroPersona.get('n_doc')?.dirty">
            {{ getErrorMessageN_doc('n_doc') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input type="date" matInput formControlName="fecha_Nac" [max]="this.maxDate| date:'Y-MM-dd'" required>
          <mat-error *ngIf="this.formRegistroPersona.get('fecha_Nac')?.hasError('required')">El campo es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" required>
          <mat-error *ngIf="this.formRegistroPersona.get('email')?.hasError('required')">El campo es obligatorio
          </mat-error>
          <mat-error *ngIf="this.formRegistroPersona.get('email')?.hasError('email')">El campo no es un email
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" (click)="backPage()">Volver</button>
        <button mat-raised-button color="primary" (click)="handleRegistro()"
          [disabled]="!formRegistroPersona.valid">Registrar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
