<div class="container d-flex align-items-center justify-content-around dashboard-cards h-100">
  <mat-card class="custom_card cardStyle">
    <mat-card-header class="d-block text-center py-2">
      <mat-card-title>Cambiar Contraseña</mat-card-title>
    </mat-card-header>
    <form [formGroup]="this.formChangePassword">
      <mat-card-content class="custom_card">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-error
          *ngIf="this.formChangePassword.get('password')?.errors && this.formChangePassword.get('password')?.dirty">
          {{ getErrorMessagePassword('password') }}</mat-error>

        <mat-form-field appearance="fill">
          <mat-label>Repetir Password</mat-label>
          <input formControlName="password_repeat" matInput [type]="hide_repeat ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide_repeat = !hide_repeat" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-error
          *ngIf="this.formChangePassword.get('password_repeat')?.errors && this.formChangePassword.get('password_repeat')?.dirty || this.formChangePassword.get('password')?.value !== this.formChangePassword.get('password_repeat')?.value">
          {{ getErrorMessagePassword('password_repeat') }}</mat-error>

      </mat-card-content>

      <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" (click)="backPage()">Volver</button>
        <button mat-raised-button color="primary" (click)="handleChangePassword()"
          [disabled]="!formChangePassword.valid">Actualizar</button>
      </mat-card-actions>
    </form>

  </mat-card>
</div>
