<form [formGroup]="this.formLogin">
  <mat-card>
    <mat-card-header class="d-block text-center py-2">
      <mat-card-title>Logueate</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label>Nick</mat-label>
        <input formControlName="nick" matInput required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-error *ngIf="loginInvalid">Los datos ingresados son inválidos</mat-error>
    <mat-card-actions class="text-center">
      <button mat-raised-button color="primary" (click)="this.clickLogin()">INGRESAR</button>
    </mat-card-actions>
  </mat-card>
</form>
