.cardStyle {
  width: 500px;
  margin: auto;
}

.form-width {
  width: 60%;
}

.img-width {
  width: 20%;
  position: relative;
  cursor: pointer;
}

.img-width img {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .cardStyle {
    width: unset;
  }
}

.avatar-icon-edit-container {
  display: none;
  position: absolute;
  bottom: 8px;
  right: 5px;
  color: #4f42e1;
  font-size: 32px;
  border-radius: 50%;
  background: #ccceff;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
}

.img-width:hover .avatar-icon-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
