.cardStyle {
  width: 500px;
  margin: auto;
}

.form-width {
  width: 60%;
}

.img-width {
  width: 20%;
}

.img-width img {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .cardStyle {
    width: unset;
  }
}
